body {
    margin: 0px;
    padding: 0px;
    background-color: blanchedalmond;
}
header {
    background-color: coral;
    font-weight: bold;
}
footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    background-color: royalblue;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 95px;
}

main {
    padding: 16px;
}

img {
    height: 200px;
}
nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

.recipe {
    display: inline-block;
    padding: 65px;
    justify-content: space-evenly;
    align-items: baseline;

}
.recipe > div {
    font-style: italic;
}
a {
    color: rgb(38, 167, 81);
    text-decoration: none;
}
a:hover {
    background-color: red;
  }

a:visited {
    color:blueviolet
}
